{% load static %}
{% load i18n %}


{% load static %}
{% load i18n %}

<div class="w-full justify-between gap-2 flex flex-col lg:flex-row">

  <!-- CARD DE LINHA -->
  <div class="bg-white w-full border border-zinc-200 rounded p-4">
    <h2 class="text-md font-semibold">Análises de Cliques</h2>
    <p class="text-sm text-gray-700 mb-2">Andamento das URLs nos últimos 6 meses</p>

    {% if line_data and line_data|length > 0 %}
    <canvas id="clicksChart" height="100"></canvas>
    {% else %}
    <div class="h-[250px] w-full rounded flex flex-col items-center justify-center text-gray-500 px-4 text-center animate-fade-in">
        
        <div class="flex items-center justify-center w-14 h-14 bg-gray-200 rounded-full mb-3">
            <span class="material-symbols-outlined text-3xl text-gray-500">query_stats</span>
        </div>

        <p class="text-sm font-medium">Ainda não há dados suficientes</p>
        <p class="text-xs text-gray-400 mt-1 max-w-xs">
            Assim que suas URLs começarem a receber cliques, o gráfico será exibido aqui.
        </p>
    </div>
    {% endif %}
  </div>

  <!-- CARD DE PIZZA -->
  <div class="bg-white border border-zinc-200 rounded p-4">
    <h2 class="text-md font-semibold">Análises de Cliques</h2>
    <p class="text-sm text-gray-700 mb-2">Proporção de cliques por URL:</p>

    {% if pie_data and pie_data|length > 0 %}
      <div class="relative w-[350px] h-[350px] mx-auto">
        <canvas id="urlClicksChart"></canvas>
      </div>
    {% else %}
    <div class="relative md:w-full lg:w-[350px] h-[350px] rounded flex flex-col items-center justify-center text-gray-500 px-6 text-center animate-fade-in">

        <div class="flex items-center justify-center w-14 h-14 bg-gray-200 rounded-full mb-3">
            <span class="material-symbols-outlined text-3xl text-gray-500">pie_chart</span>
        </div>

        <p class="text-sm font-medium">Nenhuma distribuição disponível</p>
        <p class="text-xs text-gray-400 mt-1 max-w-xs">
            Os dados de proporção aparecem quando há cliques suficientes nas suas URLs.
        </p>
    </div>
    {% endif %}

    <p class="text-sm text-gray-700 mb-2 mt-2">
      Total de cliques nos últimos 6 meses:
      <strong>{{ six_months_accesses }}</strong>
    </p>
  </div>
</div>

{% block scripts %}
<script src="{% static '/dashboard/js/access_analysis.js'%}"></script>

{{ line_labels|json_script:"lineLabels" }}
{{ line_data|json_script:"lineData" }}
{{ pie_labels|json_script:"pieLabels" }}
{{ pie_data|json_script:"pieData" }}

{% endblock scripts %}