services:
  shortly:
    container_name: shortly
    build: 
      context: ./src
      dockerfile: Dockerfile
    env_file:
      - ${ENV_FILE} 
    restart: always
    volumes:
      - ./src/logs:/usr/src/logs
      - static_volume:/usr/share/nginx/html
    networks:
      - shortly_net

  nginx:
    container_name: nginx
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/shortly.dev.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/whitelist.conf:/etc/nginx/whitelist.conf:ro
      - static_volume:/usr/share/nginx/html
    depends_on:
      - shortly
    networks:
      - shortly_net

  rabbitmq:
    container_name: shortly-rabbitmq
    build:
      context: ./infra/rabbitmq
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - shortly_net

  celery_worker:
    build: 
      context: ./src
      dockerfile: Dockerfile
    container_name: shortly-celery-worker
    command: celery -A core.celery worker -l info 
    working_dir: /usr/src
    volumes:
      - ./src:/usr/src
    environment:
      - PYTHONPATH=/usr/src
    depends_on:
      - shortly
      - rabbitmq
    env_file:
      - ${ENV_FILE} 
    networks:
      - shortly_net
    restart: always


  celery_beat:
    build: 
      context: ./src
      dockerfile: Dockerfile
    container_name: shortly-celery-beat
    command: celery -A core.celery beat -l info
    working_dir: /usr/src
    volumes:
      - ./src:/usr/src
    depends_on:
      - shortly
      - rabbitmq
    env_file:
      - ${ENV_FILE} 
    networks:
      - shortly_net
    restart: always

  flower:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: shortly-flower
    command: >
      celery --app=core.celery flower --port=5555
    ports:
      - "5555:5555"
    env_file:
      - ${ENV_FILE}
    working_dir: /usr/src
    depends_on:
      - rabbitmq
      - celery_beat
      - celery_worker
    networks:
      - shortly_net
    restart: always

networks:
  shortly_net:
    driver: bridge

volumes:
  static_volume: