services:
  shortly:
    container_name: shortly
    build: 
      context: ./src
      dockerfile: Dockerfile
    env_file:
      - ${ENV_FILE} 
    restart: always
    volumes:
      - ./src/logs:/usr/src/logs
      - static_volume:/usr/share/nginx/html
    networks:
      - shortly_net
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  nginx:
    container_name: nginx
    build: 
      context: ./nginx
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/shortly.prod.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/whitelist.conf:/etc/nginx/whitelist.conf:ro
      - static_volume:/usr/share/nginx/html
    depends_on:
      shortly:
        condition: service_healthy
    networks:
      - shortly_net

  celery_worker:
    build: 
      context: ./src
      dockerfile: Dockerfile
    container_name: shortly-celery-worker
    command: celery -A core.celery worker -l info 
    working_dir: /usr/src
    volumes:
      - ./src:/usr/src
    environment:
      - PYTHONPATH=/usr/src
    env_file:
      - ${ENV_FILE} 
    depends_on:
      shortly:
        condition: service_healthy
    networks:
      - shortly_net
    restart: always

  celery_beat:
    build: 
      context: ./src
      dockerfile: Dockerfile
    container_name: shortly-celery-beat
    command: celery -A core.celery beat -l info
    working_dir: /usr/src
    volumes:
      - ./src:/usr/src
    env_file:
      - ${ENV_FILE} 
    depends_on:
      shortly:
        condition: service_healthy
    networks:
      - shortly_net
    restart: always

  flower:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: shortly-flower
    command: >
      celery --app=core.celery flower --port=5555
      --basic_auth=${FLOWER_USER}:${FLOWER_PASSWORD}
    ports:
      - "5555:5555"
    env_file:
      - ${ENV_FILE}
    working_dir: /usr/src
    depends_on:
      celery_worker:
        condition: service_started
      celery_beat:
        condition: service_started
    networks:
      - shortly_net
    restart: always


networks:
  shortly_net:
    driver: bridge

volumes:
  static_volume: