{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script>
    const paymentId = "{{ payment_id }}";

    function checkStatus() {
        fetch(`/buy/payment/status/?payment_id=${paymentId}`)
            .then(res => res.json())
            .then(data => {
                if (data.status === "approved") {
                    window.location.href = "/buy/payment/success/";
                }
            })
            .catch(err => console.error("Erro ao consultar status:", err));
    }

    setInterval(checkStatus, 5000);
</script>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen w-full flex items-center justify-center px-4">
    <img class='w-full max-w-[992px] absolute blur-sm -z-10 opacity-5' src={% static '/common/svg/logo/without_bg_icon_blue.svg'%} alt='logo do shortly'>   
    <div class="flex flex-col items-center gap-4">
        <span class="material-symbols-outlined text-6xl text-blue-600 animate-spin">
            progress_activity
        </span>

        <h1 class="text-2xl font-bold text-blue-600">
            Aguardando confirmação do pagamento
        </h1>

        <p class="text-base text-center text-slate-500">
            Estamos verificando a aprovação com o banco.<br>
            Isso pode levar alguns segundos.
        </p>

        <p class="bg-blue-100 mt-5 rounded-full px-3 p-2 text-xs text-blue-400 font-medium">
            Você será redirecionado automaticamente
        </p>
    </div>
</main>
{% endblock %}
