{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block extrahead %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        confetti({
            particleCount: 140,
            spread: 90,
            origin: { y: 0.6 }
        });

        let end = Date.now() + 1000;
        (function frame() {
            confetti({
                particleCount: 20,
                spread: 80,
                startVelocity: 45,
                origin: { x: Math.random(), y: Math.random() - 0.2 }
            });

            if (Date.now() < end) {
                requestAnimationFrame(frame);
            }
        })();
    });

    setTimeout(() => {
        window.location.href = "/buy/wallet/";
    }, 5000);
</script>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen w-full flex items-center justify-center px-4">
    <img class='w-full max-w-[992px] absolute blur-sm -z-10 opacity-5'
         src={% static '/common/svg/logo/without_bg_icon_blue.svg'%}
         alt='logo do Shortly'>   

    <div class="flex flex-col items-center gap-4 text-center">

        <span class="material-symbols-outlined text-6xl text-green-600">
            check_circle
        </span>

        <h1 class="text-2xl font-bold text-green-600">
            Pagamento aprovado! 🎉
        </h1>

        <p class="text-base text-center text-slate-600 leading-relaxed">
            Seus créditos já foram adicionados à sua carteira!<br>
            Obrigado por confiar na Shortly.
        </p>

        <p class="bg-blue-100 mt-5 rounded-full px-3 p-2 text-xs text-blue-400 font-medium">
            Você será redirecionado automaticamente
        </p>
    </div>
</main>
{% endblock %}
