{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<main class="min-h-screen p-4 flex flex-col items-center justify-center">
    <div class="flex flex-col w-full max-w-md justify-center gap-4">
        <div class="text-center">
            <h1 class="text-xl sm:text-2xl font-bold mb-2">Assinaturas</h1>
            <p class="text-sm md:text-base">Escolha um plano para continuar</p>
        </div>

        <div class="grid grid-cols-1 gap-4">
            {% for plan in plans %}
            <form method="get" action="{% url 'subscribe_plan' plan.id %}" class="border rounded-xl p-4 flex flex-col gap-2 border-zinc-200">
                <h2 class="text-lg font-bold">{{ plan.name }}</h2>
                <p class="text-sm">{{ plan.description }}</p>
                <p class="text-md font-semibold">R$ {{ plan.price }} / mês</p>
                <button type="submit"
                        class="w-full bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600 transition">
                    Assinar
                </button>
            </form>
            {% endfor %}
        </div>

        {% if messages %}
        <div class="w-full max-w-md">
            {% for message in messages %}
            <div class="rounded w-full">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
