{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<main class="w-full flex-col mt-16 flex items-center justify-center">
    <div class="p-6 w-full max-w-[1440px] space-y-6">
        {% if request.user.is_superuser %}
        <div class="flex justify-between items-center">
            <div>
                <h1 class="font-bold text-xl">{% trans "Subscriptions" %}</h1>
                <p class="text-zinc-400">{% trans "Choose a plan to continue" %}</p>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            {% for plan in plans %}
            <form method="get" action="{% url 'subscribe_plan' plan.id %}" class="relative border rounded-md p-4 flex flex-col items-center gap-4 bg-gradient-to-b from-blue-50 to-white flex-col justify-between border">
                <div class="flex flex-col w-full gap-4">
                    <div class="flex items-center justify-center gap-4 flex-col">
                        <h2 class="text-lg font-bold flex items-center gap-2 flex-col">
                            <div class="flex items-center justify-center w-14 h-14 bg-blue-500 text-white text-2xl font-extrabold rounded-full" >
                                {% if plan.name == "Starter" %}
                                    <span class="material-symbols-outlined text-white text-3xl">rocket</span>
                                {% elif plan.name == "Turbo" %}
                                    <span class="material-symbols-outlined text-white text-3xl">bolt</span>
                                {% elif plan.name == "Power" %}
                                    <span class="material-symbols-outlined text-white text-3xl">star</span>
                                {% elif plan.name == "Master" %}
                                    <span class="material-symbols-outlined text-white text-3xl">whatshot</span>
                                {% else %}
                                    <span class="material-symbols-outlined text-white text-3xl">circle</span>
                                {% endif %}
                            </div>

                            {{ plan.name }}
                        </h2>
    
                        <div class="flex flex-col">
                            <p class="text-xl font-semibold text-gray-800">R$ {{ plan.price }} / {% trans "month" %}</p>
            
                            <p class="text-sm">
                            {{ plan.monthly_credits }} {% trans "Monthly credits" %}
                            </p>
                        </div>
                    </div>
    
                    <ul class="flex flex-col gap-1 text-sm w-full">
                        <li class="border-b border-gray-200 p-2 {% if plan.longtime_expiration_date %}text-green-600 font-semibold{% else %}text-gray-300{% endif %}">
                            {% trans "Extended expiration" %}
                        </li>
                        <li class="border-b border-gray-200 p-2 {% if plan.disable_interstitial_page %}text-green-600 font-semibold{% else %}text-gray-300{% endif %}">
                            {% trans "No interstitial page" %}
                        </li>
                        <li class="border-b border-gray-200 p-2 {% if plan.advanced_stats %}text-green-600 font-semibold{% else %}text-gray-300{% endif %}">
                            {% trans "Advanced statistics" %}
                        </li>
                        <li class="border-b border-gray-200 p-2 {% if plan.conditional_redirect %}text-green-600 font-semibold{% else %}text-gray-300{% endif %}">
                            {% trans "Conditional redirect" %}
                        </li>
                        <li class="border-b border-gray-200 p-2 {% if plan.priority_support %}text-green-600 font-semibold{% else %}text-gray-300{% endif %}">
                            {% trans "Priority support" %}
                        </li>
                    </ul>
                </div>

                <button type="submit" 
                        class="mt-2 w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 transition">
                    {% trans "Subscribe" %}
                </button>
            </form>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if show_purchase_section %}
    <div class="p-6 w-full max-w-[1440px] space-y-6">
        <div class="flex justify-between items-center">
            <div>
                <h1 class="font-bold text-xl">{% trans "Buy Credits" %}</h1>
                <p class="text-zinc-400">{% trans "Select a package to continue" %}</p>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            {% for amount, info in prices.items %}
            <form method="get" action="{% url 'buy_credits' amount %}"
                class="relative border rounded-md p-4 flex flex-col items-center gap-4 bg-gradient-to-b from-blue-50 to-white
                {% if best_value %}border-green-500 border-2{% endif %}">
                
                <div class="flex flex-col items-center justify-center gap-2">
                    <div class="flex items-center justify-center w-14 h-14 bg-blue-500 text-white text-xl font-extrabold rounded-full">
                        {{ amount }}
                    </div>

                    <p class="text-lg font-bold">{% trans "Credits" %}</p>
                </div>

                <p class="text-xl font-semibold text-gray-800">R$ {{ info.total_price }}</p>

                <button type="submit"
                    class="mt-2 w-full font-bold py-2 px-4 rounded-md transition
                        {% if disabled %}
                            cursor-not-allowed bg-gray-300 text-gray-600
                        {% else %}
                            bg-blue-500 text-white hover:bg-blue-600
                        {% endif %}"
                    {% if disabled %}disabled{% endif %}>
                    {% if disabled %}
                        {% trans "Market temporarily closed" %}
                    {% else %}
                        {% trans "Buy" %}
                    {% endif %}
                </button>

                {% if best_value %}
                <span class="absolute top-[-24px] left-auto bg-green-500 text-white text-xs font-bold px-2 py-1 rounded-xs shadow">
                    {% trans "Best value" %}
                </span>
                {% endif %}

            </form>
            {% endfor %}
        </div>


        {% if messages %}
        <div class="w-full max-w-md">
            {% for message in messages %}
            <div class="rounded w-full">
                {{ message|safe }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}


    <div class="p-6 w-full max-w-[1440px] space-y-6">
        <div class="flex justify-between items-center">
            <div>
                <h1 class="font-bold text-xl">{% trans "Your statement" %}</h1>
                <p class="text-zinc-400">{% trans "See your latest transactions" %}</p>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            {% for transaction in transactions %}
                <div class="border rounded-md p-4 border-zinc-200 justify-between flex items-center gap-3">
                    {% if transaction.transaction_type == "CREDIT" %}
                        <div class="flex gap-4">
                            <div class="bg-zinc-200 rounded-full h-8 w-8 flex items-center justify-center">
                                <span class="material-symbols-outlined text-green-500 text-xl">
                                    payment_arrow_down
                                </span>
                            </div>
                            <div class="flex flex-col">
                                <p class="text-sm">
                                    <strong>{{ transaction.source }}</strong> 
                                </p>
                                <p class="text-xs text-gray-500">
                                    {{ transaction.created_at }}
                                </p>
                            </div>
                        <div>
                    {% else %}
                        <div class="flex gap-4">
                            <div class="bg-zinc-200 rounded-full h-8 w-8 flex items-center justify-center">
                                <span class="material-symbols-outlined text-black text-xl">
                                    payments
                                </span>
                            </div>
                            <div class="flex flex-col">
                                <p class="text-sm">
                                    <strong>{{ transaction.source }}</strong> 
                                </p>
                                <p class="text-xs text-gray-500">
                                    {{ transaction.created_at }}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                    <p class="text-sm">
                        <strong>{{ tx.amount }} {% trans "Credit" %}</strong> 
                    </p>
                </div>
            {% empty %}
            <div class="w-full flex flex-col items-center justify-center text-center py-10 px-4 bg-white border border-zinc-200 rounded-lg">
                
                <div class="flex items-center justify-center w-16 h-16 mb-4 bg-blue-100 text-blue-500 rounded-full">
                    <span class="material-symbols-outlined text-4xl">receipt_long</span>
                </div>

                <h2 class="text-lg font-semibold text-zinc-700">
                    {% trans "You don't have any transactions yet" %}
                </h2>

                <p class="text-sm text-zinc-500 mt-1 max-w-sm">
                    {% trans "Once you purchase credits or subscribe to a plan, your history will appear here." %}
                </p>
            </div>
            {% endfor %}
        </div>
        {% if transactions.object_list %}
        <div class="pagination-controls mt-4 flex justify-center items-center">
            {% if transactions.has_previous %}
            <a href="?page=1" class="btn-page text-sm border-r px-2" title="{% trans 'First Page' %}">
                <span class="material-symbols-outlined text-base text-blue-500">
                    first_page
                </span>
            </a>
            <a href="?page={{ transactions.previous_page_number }}" class="btn-page text-sm px-2" title="{% trans 'Previous Page' %}">
                <span class="material-symbols-outlined text-base text-blue-500">
                    chevron_left
                </span>
            </a>
            {% else %}
            <span class="btn-page text-sm border-r px-2 cursor-not-allowed">
                <span class="material-symbols-outlined text-base text-gray-400">
                    first_page
                </span>
            </span>
            <span class="btn-page text-sm px-2 cursor-not-allowed">
                <span class="material-symbols-outlined text-base text-gray-400">
                    chevron_left
                </span>
            </span>
            {% endif %}

            <span class="current-page mx-4 text-blue-500 font-medium text-sm">
                {{ transactions.number }} {% trans "of" %} {{ transactions.paginator.num_pages }}.
            </span>


            {% if transactions.has_next %}
            <a href="?page={{ transactions.next_page_number }}" class="btn-page text-sm px-2" title="{% trans 'Next Page' %}">
                <span class="material-symbols-outlined text-base text-blue-500">
                    chevron_right
                </span>
            </a>
            <a href="?page={{ transactions.paginator.num_pages }}" class="btn-page text-sm border-l px-2" title="{% trans 'Last Page' %}">
                <span class="material-symbols-outlined text-base text-blue-500">
                    last_page
                </span>
            </a>
            {% else %}
            <span class="btn-page text-sm px-2 cursor-not-allowed">
                <span class="material-symbols-outlined text-base text-gray-400">
                    chevron_right
                </span>
            </span>
            <span class="btn-page text-sm border-l px-2 cursor-not-allowed">
                <span class="material-symbols-outlined text-base text-gray-400">
                    last_page
                </span>
            </span>
            {% endif %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}
