{% load i18n %}

<header class="fixed top-0 left-0 w-full bg-white z-50 ">
  <div class="max-w-7xl mx-auto px-4 py-3 flex items-center justify-between">
    <span class="text-2xl font-bold text-gray-800">Sh0rtly</span>

    <div class="flex gap-3 items-center">
        {% if not user.is_authenticated %}
          <a href="{% url 'login' %}" 
             class="flex items-center gap-2 px-4 py-2 font-medium text-blue-700 bg-blue-100 rounded-md hover:bg-blue-200 transition duration-200 shadow-sm hover:shadow-md">
            <span class="material-symbols-outlined">login</span>
            {% trans "Login" %}
          </a>

          <a href="{% url 'register' %}" 
             class="flex items-center gap-2 px-4 py-2 font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-200 shadow-sm hover:shadow-md">
            <span class="material-symbols-outlined">person_add</span>
            {% trans "Create Account" %}
          </a>
          
        {% else %}
          <a href="{% url 'dasboard-home' %}" 
             class="flex items-center gap-2 px-4 py-2 font-medium text-white bg-blue-500 rounded-md hover:bg-blue-600 transition duration-200 shadow-sm hover:shadow-md">
            <span class="material-symbols-outlined">dashboard</span>
            {% trans "Dashboard" %}
          </a>
        {% endif %}
    </div>
  </div>
</header>

