{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>{% block title %}Encurtador de URL{% endblock %}</title>
    {% include "common/includes/builtin.html" %}
    {% block extrahead %}{% endblock %}
</head>

<body class="bg-white min-h-screen flex flex-col font-[Inter]">
    {% block header %}
        {% include 'common/includes/header.html' %}
    {% endblock %}

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'common/includes/footer.html' %}
    {% endblock %}
    
    {% block scripts %}
    {% endblock %}

    <script src="{% static 'common/js/utilities.js'%}"></script>
    <script src="{% static 'common/js/gradient-header.js' %}"></script>
    <script src="{% static 'dashboard/js/url_actions.js' %}"></script>
</body>
</html>
