{% extends 'common/base.html'%}

{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block header %}
<header class="fixed w-full bg-white z-50 ">
  <div class="border-box px-4 py-3 flex items-center justify-start">
    <a href="{% url 'home' %}" class="text-2xl font-bold text-gray-800">Sh0rtly</a> 
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen p-4 w-full flex flex items-center justify-center">
    <div class="flex flex-col w-full max-w-md justify-center w-full gap-4">
        <div class="flex flex-col justify-center text-center">
            <h1 class="text-blue-500 text-xl sm:text-2xl font-bold text-center">
                {% trans "Welcome back!" %}
            </h1>
            <p class="text-zinc-400 text-sm sm:text-base">
                {% trans "Please log in to your account" %}
            </p>
        </div>
        
        <form method="post" class="border rounded-xl flex flex-col gap-2 p-4 border-zinc-200">
            {% csrf_token %}
            
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p class="text-center bg-red-100 w-full max-w-lg px-4 py-2 w-80 rounded text-red-600">
                    {{ error }}
                </p>
              {% endfor %}
            {% endif %}

            {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}" class="block font-medium text-xs sm:text-sm mb-1">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                    <p class="text-red-500 text-xs sm:text-sm mt-1">{{ field.errors }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition">
                {% trans "Signin" %}
            </button>

            <p class="text-center mt-2 text-sm sm:text-base">
                Ainda não possui uma conta?
                <a href="{% url 'register' %}" class="text-blue-500">
                    Clique aqui
                </a>
            </p>
        </form>
    </div>
</main>
{% endblock %}