{% extends 'common/base.html' %}
{% load i18n %}

{% block header %}
<header class="fixed w-full bg-white z-50">
  <div class="border-box px-4 py-3 flex items-center justify-start">
    <a href="{% url 'home' %}" class="text-2xl font-bold text-gray-800">Sh0rtly</a>
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen p-4 w-full flex items-center justify-center">
  <div class="max-w-md text-center flex flex-col gap-4">

    <h1 class="text-blue-500 text-xl sm:text-2xl font-bold">
      {% trans "E-mail enviado!" %}
    </h1>

    <p class="text-zinc-600 text-sm sm:text-base">
      {% trans "Se o e-mail informado estiver cadastrado, você receberá um link para redefinir sua senha." %}
    </p>

    <a href="{% url 'login' %}"
       class="text-blue-500 text-sm sm:text-base">
      {% trans "Voltar ao login" %}
    </a>

  </div>
</main>
{% endblock %}
