{% extends 'common/base.html' %}
{% load i18n %}

{% block header %}
<header class="fixed w-full bg-white z-50">
  <div class="border-box px-4 py-3 flex items-center justify-start">
    <a href="{% url 'home' %}" class="text-2xl font-bold text-gray-800">Sh0rtly</a>
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen p-4 w-full flex items-center justify-center">
  <div class="max-w-md text-center flex flex-col gap-4">

    <h1 class="text-blue-500 text-xl sm:text-2xl font-bold">
      {% trans "Password changed successfully!" %}
    </h1>

    <p class="text-zinc-600 text-sm sm:text-base">
      {% trans "You can now log in using your new password." %}
    </p>

    <a href="{% url 'login' %}"
       class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition inline-block">
      {% trans "Go to login" %}
    </a>

  </div>
</main>
{% endblock %}
