{% extends 'common/base.html'%}

{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block header %}
<header class="fixed w-full bg-white z-50 ">
  <div class="border-box px-4 py-3 flex items-center justify-start">
    <a href="{% url 'home' %}" class="text-2xl font-bold text-gray-800">Sh0rtly</a> 
  </div>
</header>
{% endblock %}

{% block footer %}{% endblock %}

{% block content %}
<main class="min-h-screen p-4 flex flex-col items-center justify-center">
    <div class="flex flex-col w-full max-w-md justify-center w-full gap-4">
        <div class="flex flex-col justify-center text-center">
            <h1 class="text-blue-500 text-2xl font-bold text-center">
                {% trans "Create your account!" %}
            </h1>
            <p class="text-zinc-400">
                {% trans "Join us! Create your account today" %}
            </p>
        </div>
        

        <form method="post" class="border rounded-xl flex flex-col gap-2 p-4 border-zinc-200">
            {% csrf_token %}

            {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}" class="block font-medium text-xs sm:text-sm mb-1">
                    {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                    <p class="text-red-500 text-xs sm:text-sm mt-1">{{ field.errors }}</p>
                {% endif %}
            </div>
            {% endfor %}

            <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition">
                {% trans "Register" %}
            </button>
            
            <p class="text-center mt-2 text-sm sm:text-base">
              Já possui uma conta?
              <a href="{% url 'login' %}" class="text-blue-500">
                Clique aqui
              </a>
            </p>
        </form>
    </div>
</main>
{% endblock %}