{% include 'common/base.html' %}
{% load static %}

{% block extrahead %} 
<meta http-equiv="refresh" content="5;url={{ redirect_url }}">
{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen px-4 text-center">
    <h1 class="text-3xl font-semibold text-gray-800 mb-4">
        Você será redirecionado em...
    </h1>
    <div class="text-6xl font-bold text-blue-600" id="counter">5</div>
    <p class="text-sm text-gray-500 mt-2">
        Caso não seja redirecionado automaticamente, <br>
        <a href="{{ redirect_url }}" class="text-blue-600 underline">clique aqui</a>.
    </p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'converter/utils.js' %}"></script>
<script>
    const counter = document.getElementById('counter');
    const urlUtils = new UrlUtils();
    const timerUtils = new TimerUtils();
    timerUtils.secondTimer(6, counter);
</script>
{% endblock %}
