DJANGO_DEBUG=TRUE
DJANGO_SECRET_KEY=your-secret-key

DB_ENGINE=postgresql
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=your-db-name

DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,192.168.0.102
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost,http://192.168.0.102

DJANGO_SUPERUSER_USERNAME=your-admin-username
DJANGO_SUPERUSER_EMAIL=your-admin-email@example.com
DJANGO_SUPERUSER_PASSWORD=your-admin-password

DJANGO_SECURE_SSL_REDIRECT=FALSE
DJANGO_SECURE_CROSS_ORIGIN_OPENER_POLICY=same-origin
DJANGO_SITE_ID=1
DJANGO_TIME_ZONE=America/Recife
DJANGO_LANGUAGE_CODE=pt-BR
DJANGO_STATIC_ROOT=/usr/share/nginx/html

SSL_EMAIL=your-ssl-email@example.com

CELERY_BROKER_URL=amqp://your-broker-url
CELERY_RESULT_BACKEND=rpc://
FLOWER_BASIC_AUTH=your-flower-user:your-flower-password

RABBITMQ_DEFAULT_USER=rabbit-mq-default-user
RABBITMQ_DEFAULT_PASS=KRz5320o8T5MPSwIbHTd

DJANGO_EMAIL_HOST=email-service-host
DJANGO_EMAIL_PORT=email-service-port
DJANGO_EMAIL_USE_SSL=FALSE/TRUE
DJANGO_EMAIL_USE_TLS=FALSE/TRUE
DJANGO_EMAIL_HOST_USER=email-host-user
DJANGO_EMAIL_HOST_PASSWORD='email-host-password'
DJANGO_DEFAULT_FROM_EMAIL=django-email-from-default

FLOWER_USER=your-flower-user
FLOWER_PASSWORD=your-flower-pass
FLOWER_UNAUTHENTICATED_API=False/True

DJANGO_DOMAIN=your-django-domain
DJANGO_PROTOCOL=http/https

REDIS_URL=redis://redis-url

USE_S3=FALSE
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_STORAGE_BUCKET_NAME=shortly-storage-prod
AWS_S3_REGION_NAME=your-s3-region
AWS_S3_CUSTOM_DOMAIN=
