exclude = [
  "**/migrations/*.py",
  ".venv",
  ".eggs",
  ".git",
  ".mypy_cache",
  ".pytest_cache",
  ".ruff_cache",
  ".vscode",
  "__pypackages__",
  "dist",
  "node_modules",
  "site-packages",
  "venv",
  "core/settings",
   "**/apps.py",
]
line-length = 99

[lint]
select = ["E", "F", "I"]
ignore = ["E501"]

[format]
quote-style = "double"
indent-style = "space"
docstring-code-format = true